<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>
    <h1>Welcome!</h1>
    <div><button onclick="location.href = 'http://127.0.0.1:5000/register';" id="RegisterButton">Register</button></div>
    <div><button onclick="location.href = 'http://127.0.0.1:5000/test';" id="RegisterButton">Test</button></div>
    <div><button onclick="location.href = 'http://127.0.0.1:5000/train';" id="RegisterButton">Train</button></div>
</body>
</html>